<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Логирование в файл -->
		<target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" />

		<!-- Вывод логов в консоль -->
		<target name="console" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<!-- Правила для вывода всех сообщений уровня Info и выше в файл -->
		<logger name="*" minLevel="Info" writeTo="file" />

		<!-- Правила для вывода всех сообщений уровня Debug и выше в консоль -->
		<logger name="*" minLevel="Debug" writeTo="console" />
	</rules>
</nlog>